.navigation{

}

.navigation__menu{
display: flex;
align-items: center;

}

.navigation__item:not(:last-child){
margin-right: 60px;
}

.navigation__item:last-child{
    display: flex;
    width: 211px;
    padding: 14px 40px;
    background-color: $active-link;
border-radius: 0 18px 0 0 ;
    
}
.navigation__link{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
}

.navigation__text{
    margin-right: 9px;
}

.navigation__icon{
width: 20px;
height: 10px;
fill: $main-color;
}
