.navigation__menu {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 60px;
}

.connect__button {
  width: 211px;
  padding: 14px 40px;
  background-color: $active-link;
  color: $main-black;
  border: none;

  transition: all 250ms $timing;
  &:hover,
  &:focus {
    background-color: $main-color;

    .navigation__icon {
      fill: $active-link;
    }
  }
}
.navigation__link {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
  color: $main-color;
  transition: color 250ms $timing;

  &:hover,
  &:focus {
    color: $active-link;
  }
}

.navigation__text {
  margin-right: 9px;
}

.navigation__icon {
  width: 20px;
  height: 10px;
  fill: $main-color;
}
