.about__black {
  @extend .about;
  padding-top: 171px;
  padding-bottom: 150px;
  background-image: $gradient;
}

.about__black-container {
  text-align: center;
}

.about__black-content {
  @extend .about__content;
  display: inline-block;
  max-width: 475px;
}

.about__black-content::before {
  left: 50%;
  transform: translateX(-50%);
}

.about__black-text {
  @extend .about__text;
  color: $main-color;
}
