.hero {
  position: relative;
  max-width: 1440px;
  height: 850px;
  background-color: $main-black;
  margin: 0 auto;
  background-image: linear-gradient(
      198.73deg,
      $overlay-start 15.31%,
      $overlay-end 67.37%
    ),
    url("../../../img/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.jpg");
}

.hero__title {
  padding-top: 200px;
  max-width: 519px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.01px;
  color: $main-color;
}

.hero__text {
  margin-top: 22px;
  max-width: 428px;
  font-size: 20px;
  color: $main-color;
  opacity: 0.6;
  font-weight: 400;
  line-height: 28px;
}

.hero__button {
  position: absolute;
  bottom: 0;
  padding: 37px 861px 37px 40px;
  border: 0;
  background-color: $main-color;

}

.text-hero__button {
  margin-right: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.302;
  color: $main-black;
  letter-spacing: -0.5px;
}

.icon-hero__button {
  width: 20px;
  height: 10px;
  fill: $active-link;
}
