.testimonials{
 padding-top: 194px;   
 padding-bottom: 150px;
}



.testimonials-text{
    position: relative;
    margin: 0 auto;
    max-width: 336px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.6px;
}

.testimonials-text::before{
    position: absolute;
    content: '';
    top: -40px;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(90deg, $active-link 0%, $main-black 94.96%);
    border-radius:2px;
}


.testimonials-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.testimonials-item{
    display: flex;
    flex-basis: calc((100% - 2 * 31px) / 3);
    font-size: 0;
    padding-left: 40px;
    padding-top: 46px;
    padding-bottom: 46px;
}

.testimonials-item--active{
    background-color: $main-black;
}


.testimonials-item:not(:last-child){
    margin-right: 31px;
}

.testimonials-thumb{
    width: 49px;
    margin-right: 20px;
}
.testimonials-wrapper{
    font-size: 15px;
line-height: 1.3;
letter-spacing: -0.4;

}

.testimonials-name{
color: $main-black;
    
}

.testimonials-item--active .testimonials-name {
    color: $main-color;
}


.testimonials-role{
color: $testimonials-role;
}

