.details__header {
  border-bottom: 1px solid $footer-title-border;
}

.details__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}
