@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url("../../fonts/DMSans-Regular.ttf");
    font-weight: 400;
  
  }  
  
  
  @font-face {
    font-family: 'DM Sans', sans-serif;
    src: url("../../fonts/DMSans-Bold.ttf");
    font-weight: 700;
  } 
  
  