html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
    padding: 0 15px;
  }
}
