$active-link: #ffac12;
$main-color: #fff;
$main-black: #000000;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$main-bg-color: #F9F9F9;
$overlay-start: rgba(0, 0, 0, 0.0001);
$overlay-end: rgba(0, 0, 0, 0.837986);
$testimonials-role: #979797;
$footer-title-orange: linear-gradient(139.15deg, #FFAC12 5.46%, #C87224 96.96%);
$footer-title-border: rgba(255, 255, 255, 0.1);
$footer-links: #979797;
