.social {
  margin-top: 30px;
  display: flex;
}

.social__item {
  transition: all 250ms $timing;
  &:hover,
  &:focus {
    .social__icon {
      fill: $active-link;
    }
  }
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__icon {
  fill: $main-color;
}

.facebook__icon {
  @extend .social__icon;
  width: 10px;
  height: 20px;
}

.twitter__icon {
  @extend .social__icon;
  width: 22px;
  height: 18px;
}

.instagram__icon {
  @extend .social__icon;
  width: 22px;
  height: 22px;
}
